 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - Techie Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
        @* <link href="~/assets/css/main.css" rel="stylesheet"> *@
    <link href="~/assets/css/myStyel.css" rel="stylesheet">


    <!-- =======================================================
    * Template Name: Techie
    * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="index-page">

    <header id="header" class="header">
        <div class="container">
            <a href="index.html" class="logo">
                <svg class="logo-icon" width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 0L27.4 24H0.6L14 0Z" fill="#B88E2F" />
                </svg>
                <h1>Furniro</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/Home/Index" class="active">Home</a></li>
                    <li><a href="/Home/Categories">Categories</a></li>
                    <li> <a href="~/Home/ProductSearch">Search</a></li>
                    <li> <a href="~/Home/Contact">Contact</a></li>
                    <partial name="_LoginPartial" />
                </ul>
            </nav>

            <div class="header-icons">
                <a href="~/Identity/Account/Login" class="icon-link"><i class="bi bi-person"></i></a>
                <a href="~/Home/ProductSearch" class="icon-link"><i class="bi bi-search"></i></a>
                <a href="~/Home/Cart" class="icon-link"><i class="bi bi-cart"></i></a>
            </div>
        </div>
    </header>

    <main class="main">
        <!-- Hero Section -->
            @RenderBody()
        <!-- About Section -->
        <!-- Pricing Section -->

    </main>




    <!-- -------------------------------------------- -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer-content">
                <!-- Company Info -->
                <div class="footer-company">
                    <h3 class="footer-logo">Funiro.</h3>
                    <p class="footer-address">
                        400 University Drive Suite 200 Coral<br>
                        Gables,<br>
                        FL 33134 USA
                    </p>
                </div>

                <!-- Links Column -->
                <div class="footer-links">
                    <h4>Links</h4>
                    <ul>
                        <li><a href="/Home/Index" class="active">Home</a></li>
                        <li><a href="/Home/Products">Products</a></li>
                        <li> <a href="~/Home/Index#testimonials">Reviews</a></li>
                        <li> <a href="~/Home/ProductSearch">Search</a></li>
                        <li> <a href="~/Home/Index#contact">contact</a></li>
                    </ul>
                </div>

                <!-- Help Column -->
                <div class="footer-help">
                    <h4>Help</h4>
                    <ul>
                        <li><a href="#">Payment Options</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Privacy Policies</a></li>
                    </ul>
                </div>

                <!-- Newsletter -->
                <div class="footer-newsletter">
                    <h4>Newsletter</h4>
                    <div class="newsletter-form">
                        <input type="email" placeholder="Enter Your Email Address">
                        <button type="submit">SUBSCRIBE</button>
                    </div>
                </div>
            </div>

            <div class="footer-divider"></div>

            <div class="footer-copyright">
                <p>2023 funiro. All rights reserved</p>
            </div>
        </div>
    </footer>
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>



    @await RenderSectionAsync("Scripts", required: false)